/*DEFAULT SETUP*/

html {
  box-sizing: border-box;
  font-family: 'Courier New', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/*to be removed*/

/*header, main, footer, div {
  border: 1px solid #1ec503;
}*/

.container {
  background-color: black;
  height: 100vh;
}

/*LAYOUT*/

.text {
  color: #1ec503;
}

/*SPLASH*/

.rules {
  display: flex;
  /*justify-content: space-around;*/
  flex-direction: column;
  z-index: 10;
  height: 100vh;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.big-button {
  background-color: #1ec503;
  font-family: 'Courier New', sans-serif;
  border-radius: 0.5rem;
  margin: 10% 30%;
  border: none;
  height: 6rem;
  font-size: 2rem;
}

.big-button:focus {
  outline: none !important;
}

.player-choice {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 20%;
}

.player1, .player2 {
  padding: 0 2rem;
  padding: 5rem 0rem;
  font-size: 1.5rem;
}

#header, #footer {
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  text-align: center;
  color: #1ec503;
  font-weight: normal;
  letter-spacing: 0.8rem;
}

#main, .main-container {
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

/*GAMESCREEN*/

.show-image {
  object-fit: contain;
}

.timer, .score {
  margin: 2rem 0;
  font-size: 4rem;
  text-align: center;
  transition: color 0.2s ease-in;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  /*for bigger screens*/
  /*padding: 1rem 12rem;*/
}

.cell {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 20%;
  /*border: 1px solid #1ec503;*/
  align-items: center;
}

.blink {
  animation: blinker 0.5s linear;
}

@keyframes blinker {
  0% {
    color: #1ec504;
  }
  50% {
    color: #ff0000;
  }
  100% {
    color: #1ec504;
  }
}

.green-flash {
  animation: flasher 0.3s linear;
  /*background-color: #1ec503;
  opacity: 0.5;
  transition: all 1s;
  z-index: 10;*/
}

@keyframes flasher {
  0% {
    background-color: black;
    /*opacity: 1;*/
  }
  50% {
    background-color: #1ec503;
    /*opacity: 0.5;*/
  }
  100% {
    background-color: black;
    /*opacity: 1;*/
  }
}

/*END SCREEN*/

.show-score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.end-button {
  background-color: #1ec503;
  font-family: 'Courier New', sans-serif;
  border-radius: 0.5rem;
  border: none;
  height: 6rem;
  font-size: 2rem;
}

@media (max-width: 375px) {
  .timer, .score {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }
  h1 {
    font-size: 1.5rem;
    align-self: center;
  }
  .show-score {
    font-size: 2rem;
  }
  .end-button {
    height: 4rem;
    align-self: center;
    font-size: 1rem;
  }
}
