/*DEFAULT SETUP*/

html {
  box-sizing: border-box;
  font-family: 'Courier New', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: black;
  height: 100vh;
}

/*LAYOUT*/

.text {
  color: #1ec503;
  font-family: 'Courier New';
  letter-spacing: 0.3rem;
}

/*SPLASH*/

.header-text {
  font-size: 7vw;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.3rem;
}

.big-button {
  background-color: #1ec503;
  font-family: 'Courier New', sans-serif;
  border-radius: 0.5rem;
  margin: 0 auto;
  border: none;
  height: 10vh;
  width: 50vw;
  font-size: 7vw;
  animation: fadein 1s;
}

.big-button:focus {
  outline: none;
}

.choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-text {
  font-size: 3vh;
}

input {
  display: none;
}

/* Labels for checked inputs */

input:checked+label {
  color: #ff0000;
}

#header, #footer {
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: fadein 1s;
}

#main, .main-container {
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.footer-text {
  font-size: 5vw;
}

/*RULES*/

.rules {
  display: flex;
  /*justify-content: space-around;*/
  flex-direction: column;
  align-items: flex-start;
  animation: fadein 2s;
}

.list {
  font-size: 2.5vh;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*GAMESCREEN*/

.game-text {
  font-size: 7vw;
}

.show-image {
  object-fit: cover;
}

.timer, .score {
  margin: 2rem 0;
  text-align: center;
  transition: color 0.2s ease-in;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  /*for bigger screens*/
  /*padding: 1rem 12rem;*/
}

.cell {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 30%;
  /*border: 1px solid #1ec503;*/
  align-items: center;
}

/*animations*/

.blink {
  animation: blinker 0.5s linear;
}

@keyframes blinker {
  50% {
    color: #ff0000;
    font-size: 9vw;
  }
}

.green-flash {
  animation: flasher 0.3s linear;
  /*background-color: #1ec503;
  opacity: 0.5;
  transition: all 1s;
  z-index: 10;*/
}

@keyframes flasher {
  50% {
    background-color: #1ec503;
    opacity: 0.5;
    /*font-size: 2rem;*/
  }
}

/*END SCREEN*/

.show-score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
}

.end-button {
  background-color: #1ec503;
  font-family: 'Courier New', sans-serif;
  border-radius: 0.5rem;
  border: none;
  width: 50vw;
  /* font-size: 1rem; */
  height: 10vh;
  font-size: 6vw;
}

/*RESPONSIVE*/

/*@media (min-width: 375px) {
  .timer, .score {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }
  h1 {
    font-size: 1.5rem;
    align-self: center;
  }
  .show-score {
    font-size: 2rem;
  }
}

@keyframes blinker {
  50% {
    color: #ff0000;
    font-size: 2rem;
  }
}*/

/*IPAD + IPAD PRO*/

/*@media (min-width: 767px) {
  .header-splash {
    font-size: 3.5rem;
  }
  .footer-splash {
    font-size: 2rem;
  }
  .list {
    font-size: 2rem;
  }
  .big-button {
    font-size: 3rem;
    height: 7rem;
  }
  .timer .score {
    font-size: 3rem;
  }
  .grid {
    margin: 0 10%;
  }
}*/

/*DESKTOP*/

@media (min-width: 1024px) {
  .grid {
    margin: 0 20%;
  }
}
